<section class="container-fluid header mt-2 mb-5">
  <div class="row justify-content-center">
    <div class="text-center ">
      <div class="row mt-2 ">
        <div class="col-xl-6 col-lg-6 col-xs-12 justify-content-center">
          <img src="https://i.imgur.com/ctyd9Jc.png" alt="Imagen de Angular" width="200px" height="auto" />
        </div>
        <div class="col-xl-6 col-lg-6 col-xs-12 ">
          <img src="https://i.imgur.com/pfJ05Ph.png" alt="Imagen de API" width="200px" height="auto" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5" id="about">
    <div class="row mt-2">
      <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
        <img src="https://i.imgur.com/QBzgqCE.jpg" alt="Imagen del creador de contenido y su hijo" width="300px"
          height="auto" />
      </div>
      <div class="col-xl-8 col-lg-6 col-xs-12 mt-3 texto">
        <h2 class="textoEncabezado">About the project</h2>
        <p>
          This is my first ever fullstack project. I have tryied to put at much effort as I could.
          <br />
          <br />
          For the making of this APP, I have made many researchs, read much documentation, guides and watched plenty
          tutorials.
          <br />
          <br />
          I hope you like it.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-8 col-lg-6 col-xs-12 p-5 texto">
        <p>
          With these two Icons, you can DELETE and EDIT a product.
        </p>
      </div>
      <div class="col-xl-4 col-lg-6 col-xs-12 p-5 text-center">
        <i class="far fa-trash-alt icon text-danger"></i>

        <i class="fas fa-edit icon text-primary"></i>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
        <img src="https://i.imgur.com/THAudsv.jpg" alt="Imagen del celular maquetado" class="fotoIndex" width="200px"
          height="auto" />
      </div>
      <div class="col-xl-8 col-lg-6 col-xs-12 p-5 texto">
        <p>
          In the Edit/Create section, I have made this interactive mobile phone to make the web a little prettier.
          <br />
          In it, you can visualize what you are typing in the form at real time.
          Clicking the cellphone speaker (at the top, the grey line), you can deactivate the screen and the lower
          button.
          <br />
          In the home button (black oval at the bottom), you can save changes. It has the same effect as clicking
          Guardar (Save).
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid banner mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6 pt-5 pb-5">
    </div>
  </div>
</section>