<section class="container-fluid header mt-2 mb-5">
  <div class="row justify-content-center">
      <div class="text-center ">
        <div class="row mt-2 ">
          <div class="col-xl-6 col-lg-6 col-xs-12 justify-content-center">
            <img
              src="https://i.imgur.com/ctyd9Jc.png"
              alt="Imagen de Angular"
              width="200px"
              height="auto"
            />
          </div>
          <div class="col-xl-6 col-lg-6 col-xs-12 ">
            <img
              src="https://i.imgur.com/pfJ05Ph.png"
              alt="Imagen de API"
              width="200px"
              height="auto"
            />
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container mt-5" id="about">
    <div class="row mt-2">
      <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
        <img
          src="https://i.imgur.com/QBzgqCE.jpg"
          alt="Imagen del creador de contenido y su hijo"
          width="300px"
          height="auto"
        />
      </div>
      <div class="col-xl-8 col-lg-6 col-xs-12 texto">
        <h2 class="textoEncabezado">Sobre el trabajo</h2>
        <p>
          Se realizó el trabajo de conexión de la API generada con Ángular
          siguiendo indicaciones de las clases, leyendo documentación, guías y
          viendo tutoriales.
          <br />
          <br />
          Realicé lo necesario para poder generar <b>(POST)</b> y editar
          <b>(PUT)</b> en un mismo formulario.
          <br />
        </p>
      </div>
    </div>
  

  <div class="row">
    <div class="col-xl-8 col-lg-6 col-xs-12 p-5 texto">
      <p>
        Se agregaron íconos botones para editar y borrar productos. Creo que no
        es necesario agregar nada más ya que el cliente podría entender sólo con
        verlos para que sirve cada uno.
      </p>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12 p-5 text-center">
      <i class="far fa-trash-alt icon text-danger"></i>

      <i class="fas fa-edit icon text-primary"></i>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
      <img
        src="https://i.imgur.com/THAudsv.jpg"
        alt="Imagen del celular maquetado"
        class="fotoIndex"
        width="200px"
        height="auto"
      />
    </div>
    <div class="col-xl-8 col-lg-6 col-xs-12 p-5 texto">
      <p>
        Se maquetó un pequeño celular a modo decorativo.
        <br />
        Dentro se podrá visualizar lo que escribamos dentro del formulario.
        Realizando un click en el micrófono (parte superior gris), se podrá
        desactivar la pantalla y botón inferior.
        <br />
        Realizando un click en el botón inferior, se podrá guardar el producto.
      </p>
    </div>
  </div>
</div>
</section>

<section class="container-fluid banner mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6 pt-5 pb-5">
    </div>
  </div>
</section>
