  p{
    white-space: nowrap;
    overflow: hidden;
  }

  mat-form-field {
    width: 90%;
    padding-top: 20px;
  }
  

  .encabezadoMobile{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .itemsMobile{
    padding-top: 10px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 13px;
  }

  .itemLlamadoMobile{
    font-weight: lighter;
    font-size:12px;
    text-overflow: ellipsis;
  }
  
  body {
    height: 100vh; /*que tome el 100% del view x height*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  
  .contenedor-celular {
    width: 220px;
    height: 315px;
    background-color: #2f3640;
    border-radius: 10px;
  }
  
  .caja-superior {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    padding: 3px;
  }
  
  .audio {
    position: absolute;
    background-color: gainsboro;
    width: 80px;
    height: 6px;
    border-radius: 80px;
    border: 1px solid grey;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  

  .lente-camara {
    display: block;
    border: 1px solid gray;
    background-color: #080c14;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    position: absolute;
    right: 12%;
  }
  
  .notificaciones {
    display: block;
    height: 8px;
    width: 8px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    left: 10%;
  
    animation: efectonLed;
  
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
  }
  
  @keyframes efectonLed {
    0% {
      background-color: black;
    }
    50% {
      background-color: violet;
    }
    100% {
      background-color: tomato;
    }
  }
  
  .pantalla {
    height: 240px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-image: url(../../../images/fondoMobile.jpg);
    background-size: cover;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }
  
  .caja-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .boton-guardar {
    width: 60px;
    height: 20px;
    border-radius: 9px;
    border: 1px solid white;
    background-color: #1e272e;
    cursor: pointer;
  }
  