

<div class="jumbotron text-center">
    <div class="row mt-2">
        <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
            <h1>TP9 - WEB API Pública</h1>
        </div>
        <div class="col-xl-8 col-lg-6 col-xs-12">
            <img src="https://i.imgur.com/pfJ05Ph.png" width="200px" height="auto"/>
        </div>
    </div>
    
</div>
    <div class="container mt-4" id="about">
        <div class="row mt-2">
            <div class="col-xl-4 col-lg-6 col-xs-12 text-center">
                <img src="https://i.imgur.com/QBzgqCE.jpg" width="400px" height="auto" />
            </div>
            <div class="col-xl-8 col-lg-6 col-xs-12">
                <h2>Sobre el trabajo</h2>
                <p>
                    Se procedió a realizar el trabajo práctico a partir de lo que fue dictado en la última clase y junto a múltiples tuturiales y guías en internet.
                    <br />
                    El API devuelve un <b>modelo</b> JSON de los productos y no la entidad.
                    <br />
                    Para que sea más fácil trabajar luego con <b>POST</b> y <b>PUT</b>, hice que también ingresemos vistas y se transformen a la entidad original según lo requerido.
                </p>
            </div>
        </div>
    </div>

