@model MVC.Models.PublicApiView
<link href="~/Content/styles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Api";
}

<div class="text-center imgApiContainer">
    <img src="@Model.message" class="imgApi" alt="Perro" />
</div>
