.icon {
    font-size: 14px;
    transition-duration: 50ms;
    transition-timing-function: linear;
}

.icon:hover {
    transform: scale(1.5);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    filter: grayscale(80);
}

.banner {
    background-color: #21374d;
    height: auto;
  }

.frase-texto {
    color:white;
    font-size: 45px;
}